.App {
}
.App_head {
  margin: 0 auto;
  width: 740px;
  max-width: 740px;
  padding: 15px;
  height: 32px;
  max-height: 32px;
}
.App_body {
  margin: 0 auto;
  min-width: 540px;
  max-width: 540px;
  display: flex;
  flex-direction: row;
}
.App_card {
  margin: 10px;
  background-color: #d4d3d3;
}
